.outer-div {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 50px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.items-information {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status {
  display: flex;
  gap: 5px;
}
